body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 21px;
}

#root {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
}
